services:
    app:
        build:
            context: './docker/dev'
            dockerfile: Dockerfile
        image: 'storidian-dev/app'
        ports:
            - '${APP_PORT:-80}:80'
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        environment:
            SUPERVISOR_PHP_USER: 'storidian'
            VITE_PORT: '${VITE_PORT:-5173}'
            VITE_DEV_HOST: '${VITE_DEV_HOST:-localhost}'
        volumes:
            - '.:/var/www/html'
            # Use named volumes for platform-specific dependencies
            # This prevents macOS node_modules from conflicting with Linux
            - node_modules:/var/www/html/node_modules
            - vendor:/var/www/html/vendor
            # SQLite database in named volume to support WAL mode properly
            - database:/var/www/html/storage/database
        networks:
            - storidian
networks:
    storidian:
        driver: bridge
volumes:
    node_modules:
        driver: local
    vendor:
        driver: local
    database:
        driver: local


